.prendreRendezVous {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 125px;
}
.bouton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--grey);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-81xl);
  background: linear-gradient(90deg, #393739, #6a6c6c);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 2;
}
