/* Styles existants */
.background,
.backgroundDegrade {
  width: 1440px;
  position: relative;
  display: none;
  max-width: 100%;
}
.backgroundDegrade {
  height: 65px;
  background: linear-gradient(90deg, #262526 50%, #f3f7f7);
}
.background {
  height: 64px;
  background-color: var(--color-black);
}
.logoIcon {
  height: 57.6px;
  width: 63px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.aPropos {
  white-space: nowrap;
}
.aPropos,
.contact,
.service {
  text-decoration: none;
  width: 70px;
  position: relative;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.aboutServicesContactMenu {
  margin: 0;
  width: 290px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.boutonWrapper,
.navBar,
.navbarMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.navbarMenu {
  margin: 0;
  width: 1005px;
  padding: 0 0 var(--padding-xl-6);
  box-sizing: border-box;
  max-width: 100%;
}
.boutonWrapper,
.navBar {
  padding: 0 0 var(--padding-2xs-6);
}
.navBar {
  background-color: var(--color-black);
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-46xl) var(--padding-8xs-4)
    var(--padding-53xl);
  box-sizing: border-box;
  gap: var(--gap-26xl);
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
}

/* Nouveaux styles */
.burgerButton {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  color: var(--color-white);
  cursor: pointer;
  z-index: 3;
}

@media screen and (max-width: 1225px) {
  .navbarMenu {
    display: none;
    position: absolute;
    top: 64px; /* Ajustez en fonction de la hauteur de votre navbar */
    left: 0;
    width: 100%;
    background-color: var(--color-black);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 2;
    padding: var(--padding-10xs) 0; /* Ajoutez un padding pour séparer les éléments */
  }

  .burgerButton {
    display: block;
  }
}

.showMenu {
  display: flex !important;
}
